$ActionQueueType LinkedList
$ActionQueueFileName {{item.key}} 
$ActionResumeRetryCount -1 # infinite retries on insert failure
$ActionQueueSaveOnShutdown on

{% if item.value.ssl==true %}
$ActionSendStreamDriverAuthMode x509/name
$ActionSendStreamDriverPermittedPeer {{ item.value.remote_host }}
$ActionSendStreamDriverMode 1 # run driver in TLS-only mode	
{% else %}
$ActionSendStreamDriverMode 0 # run driver in clear text
{% endif %}

{% for f in item.value.filters %}
{{ f }} @@{{ item.value.remote_host }}:{{ item.value.remote_port }}
{% endfor %}
